*{
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-bg{
    width: 100%;
    background-color: #f5f5f5;
    border: 1px solid #eee;
    height: 35px;

}

.nav-content{
    width: 1190px;
    height: 35px;
    margin: 0 auto;
    line-height: 35px;
    font-size: 12px;
    color: #6c6c6c;
}

.nav-content .left-nav li{
    float: left;
    margin-right: 7px;
}

.nav-content .left-nav li a{
    text-decoration: none;
    color: #6c6c6c;
}

.nav-content .left-nav li a:hover{
    color: #f40;
}

.address::after{
    content: '';
    display: inline-block;
    height: 10px;
    width: 20px;
    background-image: url('../SRC/down.png');
}

.username::after{
    content: '';
    display: inline-block;
    width: 30px;
    height: 16px;
    background: url('../SRC/v.png') 0 0 no-repeat;
}

.message::before{
    content: "";
    display: inline-block;
    height:10px;
    width: 25px;
    background: url('../SRC/msg.png') 0 0 no-repeat;
    margin-right: 3px;
}

.message::after{
    content: "";
    display: inline-block;
    height: 10px;
    width: 21px;
    background: url('../SRC/down.png');
}

.myTao::after{
    content: "";
    display: inline-block;
    height: 10px;
    width: 21px;
    background: url('../SRC/down.png');
}

.cart{
    margin-right: 8px;
}

.cart::after{
    content: "";
    display: inline-block;
    height: 10px;
    width: 21px;
    background: url('../SRC/down.png');
}

.cart::before{
    content: "";
    display: inline-block;
    height: 20px;
    width: 21px;
    background: url('../SRC/cart.png') 0 0 no-repeat;
}

.add::after{
    content: "";
    display: inline-block;
    height: 10px;
    width: 21px;
    background: url('../SRC/down.png');
}

.sole::after{
    content: "";
    display: inline-block;
    height: 10px;
    width: 21px;
    background: url('../SRC/down.png');
}

.phone::after{
    content: "";
    display: inline-block;
    height: 10px;
    width: 21px;
    background: url('../SRC/down.png');
}

.web::before{
    content: "";
    display: inline-block;
    height: 10px;
    width: 21px;
    background: url('../SRC/web.png');
}

.web::after{
    content: "";
    display: inline-block;
    height: 10px;
    width: 21px;
    background: url('../SRC/down.png');
}

.nav-content .right-nav{
    float: right;
}

.nav-content .right-nav li{
    float: left;
    margin-left: 7px;
    margin-right: 7px;
    color: #6c6c6c;
}

.nav-content .right-nav li a{
    text-decoration: none;
    color: #6c6c6c;
}

.nav-content .right-nav li a:hover{
    color: #f40;
}