.search{
    width: 100%;
    height: 121px;
    padding-top: 24px;
}

.sear-content{
    width: 1190px;
    height: 88px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.logo{
    background: url('http://img.alicdn.com/tfs/TB1_uT8a5ERMeJjSspiXXbZLFXa-143-59.png') 0 0 no-repeat;
    padding-top: 60px;
    display: block;
    overflow: hidden;
    height: 0px;
    width: 183px;

}

.lab-up{
    position: absolute;
    top: 70px;
    left: 443px;
    width: 120px;
    height: 22px;
    /* background: #f40; */
    color: #f40;
    font-weight: 700;
    font-size: 14px;
}

.lab-up li{
    float: left;
    margin-right: 4px;
    display: inline-block;
    padding-left: 2px;
    padding-right: 4px;
    padding-bottom: 3px;
}

.turn-orange{
    border-top-left-radius: 10px;
    border-top-right-radius: 7px;
    color: white;
    background-color: #ff5400;
}

.lab-mid{
    position: absolute;
    width: 628px;
    height: 36px;
    top: 92px;
    left: 433px;
    border: 2px solid #f40;
    border-radius: 20px;
}
.lab-mid input{
    width: 472px;
    height: 20px;
    margin-top:6px;
    margin-left: 5px;
    border: 0px solid #fff;
    position: relative;
    top: -6px;

}

.lab-mid button{
    width: 74px;
    height: 40px;
    color: white;
    background-color: #ff9000;
    position: relative;
    /* right: -480; */
    left: 74px;
    top: -2px;
    border: 0px solid #ff9000;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 18px;
    font-weight: 700;
}

.lab-down{
    font-size: 12px;
    font-weight: 400;
    width: 700px;
    height: 50px;
    position: absolute;
    top: 134px;
    left: 440px;

}

.orange{
    color: #f40;
}

.lab-down li{
    float: left;
    display: inline-block;
    margin-right: 4px;
}

.erweima{
    position: absolute;
    top: 61px;
    left: 1120px;
}

.erweima img{
    border: 1px solid #ddd;
}

.erweima span{
    color: #ddd;
    position: relative;
    top: -92px;
    left: 5px;
    border: 1px solid #ddd;
}